#container {
  width:100%;
  position: relative;
  overflow:hidden;
  object-fit: cover;
  margin-bottom: -6rem;
}

#top-banner {
  position: relative;
  overflow:auto;
  width: 100%;
  margin-top:-5rem;
  margin-bottom:-5rem;
  z-index: 0;
}

:root {
  --gradient: linear-gradient(
    45deg,
    #e7eaef,
    #9ba8b8
  );
}