

.list {
  display: flex;
  flex-direction: row;
  justify-content: left;  
  flex-wrap: wrap;
  margin-left: 20px;
}

.list-big {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  flex-wrap: wrap;

}