/* Header.css */

/* Style for the header container */
.header-container {
  width: 100%; /* Set your desired fixed width */
  background-color: rgba(255, 255, 255, 0.173); /* Set the background color with transparency */
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px; /* Add padding as needed */
  display: flex;
  justify-content: end;
  align-items: center;
  z-index: 1000;
}

/* Style for the button */
.header-button {
  background-color: #3498db; /* Set your button background color */
  color: #fff; /* Set your button text color */
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

/* Adjust the button position */
.header-button-container {
  margin-right: 10px; /* Set the margin to position the button at the right corner */
}
