.small-image-big{
  position: relative;
  border: solid 3px #808a98 ;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 1.9rem;
  object-fit: cover;
  z-index: 3;
  filter: brightness(75%);
  display: block;
  transition: transform 1s ease;

}

.small-image-info-big{
  position: relative;
  width: 400px;
  height: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius:0%;
  object-fit: cover;
  z-index: 3;
  filter: brightness(75%);
  display: block;

}


#box-container-big{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left:1rem;
  margin-right:1rem;
}

#box-container-big:hover #info-box-big{
  position:absolute;
  display:flex;
  align-items: center;
  flex-direction: row;
  transition: 2s;
  margin-left:-1.7rem;
  transform: scale(1.1)
 
}


#info-box-big{
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--gradient);
    border: solid #EEF6F9 2px;
    border-radius: 5px;
    display:none;
    padding-right: 40%;
}

#info-details-big{
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-left: 4%;
  padding: 4%;
}

#gamepad-icon-big{
  margin-top: 10%;
  margin-bottom:4%;
  font-size:90px;
  color: #05828e;

}

#gamepad-icon-big:hover{
  background-color:#EEF6F9;
  border:#05828e solid 2px;
  border-radius:100%;
}



:root {
  --gradient: linear-gradient(
    45deg,
    #e7eaef,
    #9ba8b8
  );
}

